ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=YourStrongPasswordHere!
ASPNETCORE_URLS=http://0.0.0.0:8080
ASPNETCORE_ENVIRONMENT=Production
App__Name=IsLabApp
App__Version=0.1.0-lab8
ConnectionStrings__Mssql=Server=mssql,1433;Database=IsLabDb;User Id=sa;Password=YourStrongPasswordHere!;TrustServerCertificate=True;
